.about-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    backdrop-filter: blur(20px);
    padding: 120px 0;
    font-size: 22px;
}

.about-container-photo {
    width: 50%;
    min-height: calc(100vh - 240px);
    color: var(--color-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-container-description {
    width: 50%;
    min-height: calc(100vh - 240px);
    color: var(--color-white);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-container-photo img {
    width: 100%;
    max-height: calc(100vh - 240px);
    object-fit: cover;
    object-position: center;
}

.about-container-description .description {
    width: 100%;
    max-height: calc(100vh - 240px);
    color: var(--color-white);
    padding: 30px;


}

.about-container-description .description p {
    color: var(--color-white);
}

.about-container-description .description p b {
    font-size: 20px;
    color: var(--color-beige);
    text-transform: uppercase;
    font-weight: bold;

}

.about-container-description .description h2 {
    color: var(--color-pri);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

.about-container-description .description h3 {
    /*color: var(--color-pri);*/
    color: var(--color-beige);
    text-transform: uppercase;
    font-weight: bold;

}

.about-container-description .description h4 {
    color: var(--color-pri);

}

.about-container-description .description p a {
    color: var(--color-pri);
}

.about-container-description .description .description-button {
    display: block;
    margin: 50px auto 0px;

    padding: 15px;
    color: var(--color-white);
    width: 250px;

}


@media (max-width: 1640px) {
    .about-container {
        font-size: 18px;
    }
}

@media (max-width: 1240px) {
    .about-container {
        font-size: 17px;
    }
}

@media (max-width: 1196px) {
    .about-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .about-container-photo {
        width: 100%;
        min-height: calc(100%);

    }

    .about-container-description {
        width: 100%;
        padding: 5px;
        min-height: calc(100%);
    }

}
