.home-container {
    position: relative;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans Condensed", sans-serif;

}

.home-container h2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin-top: 50px;
    left: 20%;
    bottom: 10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-container h2 span {
    font-size: 25px;
    opacity: 0.8;
    padding-bottom: 5px;
    color: var(--color-white);
    border-bottom: 2px solid var(--color-pri);
}


.scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.scroll-down hr {
    width: 20px;
    color: var(--color-pri);
}


.scroll-down h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
}

.scroll-down .scroll {
    transform: rotate(-90deg);
    font-size: 20px;
}

.scroll-down .scroll path {
    color: var(--color-pri);


}

.scroll-down .scroll path:hover {
    color: var(--color-white);
    transition: 0.4s ease;
}

.options .option {
    position: relative;
    overflow: hidden;
    width: 100%;
    background: var(--optionBackground, #e6e9ed);
    background-position: center;
    filter: brightness(60%);
}

.options .option.active {
    flex-grow: 10000;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 1100px) {

}

@media (max-width: 500px) {

}


